p, h2
{
    margin-left:10px;
}
.Body
{
    position:relative;
}
/*Navigation*/
.navbar img 
{
        width:40px;
        margin-left:10px;
}
.navbar
{
    background-color: #e3fc03;
}
    .navbar a:hover 
    {
        color: #5FA603;
    }
.navbar a
{
    color:black;
}
/*Home*/
/*Prijzen*/
.Prices td, .Prices th
{
    text-align:center;
}
/*Locatie*/
#map
{
    height:400px;
    width:100%;
}
/*Accomodatie*/
.tab 
{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
    .tab button 
    {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }
        .tab button:hover 
        {
            background-color: #ddd;
        }
        .tab button.active 
        {
            background-color: #ccc;
        }
.tabcontent 
{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
#AccoA, #AccoB, #AccoC
{
    width:50%;
}
/*Reservatie*/
.form
{
    margin-left:10px;
}
/*Footer*/
footer
{
    background-color: lightgray;
}
